.MainLayout {
  display: grid;
  grid-template-columns: 2.5fr 9.5fr;
  gap: 1rem;
}
@media (max-width: 768px) {
  .MainLayout {
    grid-template-columns: 1fr;
  }
  .content {
    padding: 0 20px;
  }
}
