.container {
  position: relative;
  width: 50%;
  margin-top: 20px;
}

.input {
  width: 100%;
  padding: 10px 12px 10px 36px; /* left space for icon */
  border: 1px solid #ccc;
  border-radius: 8px;
  background: transparent;
  outline: none;
  color: rgba(255, 255, 255, 0.87);
}

.icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
  pointer-events: none;
}
